# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app


Week1/.vscode/
Week2/.vscode/
Week3/.vscode/
Week4/.vscode/
Week5/.vscode/
Week6/.vscode/
Week7/.vscode/
Week8/.vscode/
Week9/.vscode/
